{% extends "metronic.html.twig" %}

{% block title %}{{ 'work distribution'|trans }} | {{ parent() }}{% endblock %}
{% block pageTitle %}<h1>{{ 'work distribution'|trans }}</h1>{% endblock %}

{% block body %}
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">{{ 'Dashboard'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            {{ 'team'|trans ~ ' ' ~ 'Create'|trans }}
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">

        <div class="col-md-12">
            {% include 'flash.html.twig' %}
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">{{ (type=='app') ? 'Application based'|trans : 'Batch based'|trans }} {{ 'work distribution'|trans }} {{ 'Details'|trans }}</span>
                    </div>
                    <div class="actions">
                        <a href="{{ path('workflow_team_new', {type: type}) }}" class="btn green">
                            <i class="fa fa-plus"></i> {{ 'New'|trans }} {{ 'Create'|trans }}</a>
                    </div>
                </div>
                <div class="portlet-body">

                    <div class='table-data'>
                        {% include 'PorchaProcessingBundle:WorkflowTeam:index_sub.html.twig' %}
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT INNER -->
{% endblock %}


{% block include_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/porchaprocessing/js/workflow_team.js') }}" type="text/javascript"></script>
{% endblock %}
