{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <h3>{{ 'Forget Password'|trans }} ?</h3>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans }}</label>

        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-envelope"></i>
                <input class="form-control placeholder-no-fix" type="text" id="username" name="username" required="required" />
            </div>
        </div>

        <div class="form-actions">
            <button type="button" id="back-btn" class="btn" onClick="window.location.replace('/login')">
                <i class="m-icon-swapleft"></i> {{ 'Back'|trans }} </button>
            <button type="submit" class="btn green-haze pull-right" value="{{ 'resetting.request.submit'|trans }}">
                {{ 'Submit'|trans }} <i class="m-icon-swapright m-icon-white"></i> </button>
        </div>
    </div>
</form>
