{% extends "PorchaProcessingBundle::layout.html.twig" %}

{% block title %}{{ 'Service Request'|trans }} | {{ parent() }}{% endblock %}
{% block pageTitle %}<h1>{{ 'Service Request'|trans }}</h1>{% endblock %}

{% block body %}
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">{{ 'Dashboard'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li class="active"> {{ 'Volume Wise Entry Report'|trans }}</li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row" id="dc-volume-wise-entry-report-page">
        <div class="col-sm-12">
            {% include 'flash.html.twig' %}


            <div class="portlet light">
                <div class="portlet-body">

                    <form  id="form-search" class="form-inline no-print" role="form" method="post" action="">
                        <div class="form-body">

                            <div class="block-group">
                                <div class="form-group">
                                        {% if districts is defined %}
                                            <select class="form-control select2 mo-district input-medium" name="ff[v.district]" id="district" placeholder = "{{ 'District'|trans }}">

                                                {% for district in districts %}
                                                    <option value="{{ district.id }}">{{ district.name }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                </div>
                                <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" id="upozila" name="ff[v.upozila]" class="form-control input-medium mo-upozila" placeholder="{{ 'Upozila'|trans }}" />
                                        </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" required="required" id="mouza" name="ff[vm.mouza]" required="required" class="form-control input-medium mo-mouza" placeholder="{{ 'Mouza'|trans }}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="" id="volumeId" name="ff[v.volumeNo]" class="form-control input-medium" placeholder="{{ 'Volume No'|trans }}" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="button" id="btn-search" onclick="mouzaValidation()" value="{{ 'Search'|trans }}" data-url="{{ path('report_dc_volume_wise') }}" class="btn green">
                                        <input type="button" id="btn-report-print" value="{{ 'Print'|trans }}" class="btn green">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr/>

                    <div class='table-data'>
                        {% include 'PorchaProcessingBundle:Report/Dc:volume_wise_list_sub.html.twig' %}
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->

    <div class="modal fade" id="request-detail" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ asset('assets/layout3/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                    <span> &nbsp;&nbsp;Loading... </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block include_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/porchaprocessing/js/mouza-option.js') }}" type = "text/javascript"></script>
    <script src="{{ asset('bundles/porchaprocessing/js/dc-report.js') }}" type = "text/javascript"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.bn.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/khatian-print.css') }}"/>
{% endblock %}
{% block document_ready %}
    {{ parent() }}
    MouzaOption.init({multipleMouza: false});
{% endblock %}