{% set parent_template = app.request.get('print') == 'yes' ? 'print.html.twig' : 'PorchaProcessingBundle::layout.html.twig' %}
{% extends parent_template %}
{% block title %}{{ 'Service Request'|trans }} | {{ parent() }}{% endblock %}
{% block pageTitle %}<h1>{{ 'Service Request'|trans }}</h1>{% endblock %}

{% block body %}

    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb hidden-print">
        <li>
            <a href="/">{{ 'Dashboard'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li class="active"> {{ 'List of Service Request'|trans }}</li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row" id="volume-list-page">
        <div class="col-sm-12">
            {% include 'flash.html.twig' %}

            <div class="tabbable tabbable-custom tabbable-noborder">
                {{ include ('@PorchaProcessing/Service/PorchaRequest/_tab_menu.html.twig', {'serviceType': serviceType }) }}

                <div class="tab-content">
                    <div class="portlet light">
                        <div class="portlet-title hidden-print">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font hide"></i>
                                <span class="caption-subject theme-font bold uppercase">{{ 'List of Information Slip'|trans }}</span>
                            </div>
                            <div class="actions">
                                {% if is_granted('ROLE_INFORMATION_SLIP_REQUEST_ENTRY') %}
                                    <a href="{{ path('information_slip_create') }}" class="btn green">
                                        <i class="fa fa-plus"></i> {{ 'Create Information Slip Request'|trans }}</a>
                                {% endif %}
                                <a href="#" class="btn green" id="print">
                                    <i class="fa fa-print"></i> {{ 'Print'|trans }}</a>
                            </div>
                        </div>
                        <div class="portlet-body">

                            <form id="form-search" class="form-inline hidden-print" role="form" method="post" action="">
                                <div class="form-body">

                                    <div class="form-group">
                                        <input type="text" name="ff[sr.id]" id="service-request-id" placeholder="{{ 'Service Request Id'|trans }}" class="form-control input-small">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="ff[sr.name]" id="applicant-name" placeholder="{{ 'Applicant Name'|trans }}" class="form-control">
                                    </div>
                                    {#<div class="form-group">
                                        <select name="ff[sr.type]" id="service-type" placeholder="{{ 'Serivce Type'|trans }}" class="form-control">
                                            <option value="">{{ 'Serivce Type'|trans }}</option>
                                            <option value="PORCHA_REQUEST">{{ 'Porcha Request'|trans }}</option>
                                            <option value="INFORMATION_SLIP">{{ 'Information Slip'|trans }}</option>
                                        </select>
                                    </div>#}
                                    <div class="form-group">
                                        <select name="ff[sr.deliveryMethod]" id="delivery-type" placeholder="{{ 'Delivery method'|trans }}" class="form-control">
                                            <option value="">{{ 'Delivery method'|trans }}</option>
                                            <option value="DIRECT">{{ 'Direct'|trans }}</option>
                                            <option value="POSTAL">{{ 'Postal'|trans }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select name="ff[sr.requestFrom]" id="delivery-type" placeholder="{{ 'Request From'|trans }}" class="form-control">
                                            <option value="">{{ 'Request From'|trans }}</option>
                                            <option value="DIRECT">{{ 'Direct'|trans }}</option>
                                            <option value="WEB">{{ 'Web'|trans }}</option>
                                            <option value="UDC">{{ 'UDC'|trans }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select name="ff[sr.status]" id="delivery-type" placeholder="{{ 'Request From'|trans }}" class="form-control">
                                            <option value="">{{ 'Request Status'|trans }}</option>
                                            <option value="PROCESSING">{{ 'Processing'|trans }}</option>
                                            <option value="READY_FOR_DELIVERY">{{ 'Ready For Delivery'|trans }}</option>
                                            <option value="DELIVERED">{{ 'Delivered'|trans }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input value="" name="ff[sr.createdAt]" class="form-control date-picker" data-date-format="dd-mm-yyyy" placeholder="{{ "Request Date"|trans }}">
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button class="btn green" id="btn-search" data-url="{{ path('information_slip_list') }}" type="button">{{ 'Search'|trans }}</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                            <hr class="hidden-print" />

                            <div class='table-data'>
                                {% include '@PorchaProcessing/Service/InformationSlip/application_list_sub.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->

    <div class="modal fade hidden-print" id="request-detail" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ asset('assets/layout3/img/loading-spinner-grey.gif') }}" alt="" class="loading">
                    <span> &nbsp;&nbsp;Loading... </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block include_javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.bn.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/porchaprocessing/js/information-slip-application.js') }}" type="text/javascript"></script>
{% endblock %}

