{% extends "@PorchaProcessing/Service/PorchaRequest/token_print.html.twig" %}

{% block body %}
    <table class="table" cellspacing="0" cellpadding="0">
        <tr><td colspan="2" style="text-align: center"><strong>জেলা ই-সেবা কেন্দ্র হতে তথ্য স্লিপ আবেদনের গ্রহণ রশিদ</strong></td></tr>
        <tr><td style="width: 100px">{{ "Applicant Name"|trans }}</td><td>{{ serviceRequest.name }}</td></tr>
        <tr><td>{{ "Request ID"|trans }}</td><td>{{ serviceRequest.id }}</td></tr>
        <tr><td>{{ "Delivery Type"|trans }}</td><td>{{ serviceRequest.urgency|trans }}</td></tr>
        <tr><td>{{ "Description"|trans }}</td><td>{{ serviceRequest.description|nl2br }}</td></tr>
        <tr><td height="50">{{ "Token Provider <br>and Signature"|trans|raw }}</td><td></td></tr>
    </table>

{% endblock %}