{% extends "@PorchaProcessing/layout.html.twig" %}

{% block title %}{{ 'Order Sheet view'|trans }} | {{ parent() }}{% endblock %}
{% block pageTitle %}<h1 xmlns="http://www.w3.org/1999/html">{{ 'Order Sheet view'|trans }}</h1>{% endblock %}

{% block body %}
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">{{ 'Dashboard'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            {{ 'Order Sheet view'|trans }}
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row" id="volume-add-page">

        <div class="col-md-12">
            <div class="portlet light">

                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">{{ 'Order Sheet view'|trans }}</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                        <h4 class="caption-subject font-blue-sharp bold uppercase">{{ 'Applicant Info'|trans }}: </h4>
                        <div class="form-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ 'Name'|trans }} :</label>
                                    <div class="col-md-8">
                                        <p class="margin-top-10">{{ application.applicant.name }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ 'Father Name'|trans }} :</label>
                                    <div class="col-md-8">
                                        <p class="margin-top-10">{{ application.applicant.fatherName }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ 'Mother Name'|trans }} :</label>
                                    <div class="col-md-8">
                                        <p class="margin-top-10">{{ application.applicant.motherName }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ 'Spouse Name'|trans }} :</label>
                                    <div class="col-md-8">
                                        <p class="margin-top-10">{{ application.applicant.spouseName }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ 'Gender'|trans }} :</label>
                                    <div class="col-md-8">
                                        <p class="margin-top-10">{{ application.applicant.bnGender }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ 'Nid'|trans }} :</label>
                                    <div class="col-md-8">
                                        <p class="margin-top-10">{{ application.applicant.nid }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ 'Dob'|trans }} :</label>
                                    <div class="col-md-8">
                                        <p class="margin-top-10">{{ application.applicant.dob|date("m/d/Y") }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ 'Email'|trans }} :</label>
                                    <div class="col-md-8">
                                        <p class="margin-top-10">{{ application.applicant.email }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ 'Address'|trans }} :</label>
                                    <div class="col-md-8">
                                        <p class="margin-top-10">{{ application.applicant.address }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ 'Cellphone'|trans }} :</label>
                                    <div class="col-md-8">
                                        <p class="margin-top-10">{{ application.phoneNo }}</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                         </form>
                    </div>
                    {% if applicationDocx %}
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <h4 class="caption-subject font-blue-sharp bold uppercase">{{ 'application'|trans }} {{ 'Document'|trans }} {{ 'List'|trans }} :</h4>
                                <div class="form-group">

                                    {#<label class="col-md-2 control-label">{{ 'Document'|trans }} :</label>#}
                                    {% for applicationDoc in applicationDocx %}

                                        <div class="col-md-9 col-md-offset-2">
                                            {{ loop.index|numberBanglaConvert }} <a href="{{ asset('uploads') }}/{{ applicationDoc.path }}">{{ applicationDoc.type }}</a>
                                        </div>
                                    {% endfor %}

                                </div>
                            </form>
                        </div>
                    {% endif %}
                    {% if leaseRegisterSixDocs %}
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <h4 class="caption-subject font-blue-sharp bold uppercase">{{ 'Register'|trans }} {{ 'Document'|trans }} {{ 'List'|trans }} :</h4>
                                <div class="form-group">

                                    {#<label class="col-md-2 control-label">{{ 'Document'|trans }} :</label>#}
                                    {% for leaseRegisterSixDoc in leaseRegisterSixDocs %}

                                        <div class="col-md-9 col-md-offset-2">
                                            {{ loop.index|numberBanglaConvert }} <a href="{{ asset('uploads') }}/{{ leaseRegisterSixDoc.path }}">{% if leaseRegisterSixDoc.type is not null  %}{{ leaseRegisterSixDoc.type }} {% else %} {{ leaseRegisterSixDoc.path }}{% endif %}</a>
                                        </div>
                                    {% endfor %}

                                </div>
                            </form>
                        </div>
                    {% endif %}
                    {% if leaseTerminatedDocx %}
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <h4 class="caption-subject font-blue-sharp bold uppercase">{{ 'Lease Assign Status'|trans }} {{ 'Document'|trans }} {{ 'List'|trans }} :</h4>
                            <div class="form-group">

                                {#<label class="col-md-2 control-label">{{ 'Document'|trans }} :</label>#}
                                {% for leaseTerminatedDoc in leaseTerminatedDocx %}

                                    <div class="col-md-9 col-md-offset-2">
                                        {{ loop.index|numberBanglaConvert }} <a href="{{ asset('uploads') }}/{{ leaseTerminatedDoc.path }}">{% if leaseTerminatedDoc.type is not null  %}{{ leaseTerminatedDoc.type }} {% else %} {{ leaseTerminatedDoc.path }}{% endif %}</a>
                                    </div>
                                {% endfor %}

                            </div>
                        </form>
                    </div>
                {% endif %}
                {% if leaseDocx %}
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <h4 class="caption-subject font-blue-sharp bold uppercase">{{ 'Lease'|trans }} {{ 'Document'|trans }} {{ 'List'|trans }} :</h4>
                            <div class="form-group">

                                {% for leaseDoc in leaseDocx %}

                                    <div class="col-md-9 col-md-offset-2">
                                        {{ loop.index|numberBanglaConvert }} <a
                                                href="{{ asset('uploads') }}/{{ leaseDoc.path }}">{% if leaseDoc.type is not null  %}{{ leaseDoc.type }} {% else %} {{ leaseDoc.path }}{% endif %}</a>
                                    </div>
                                {% endfor %}

                            </div>
                        </form>
                    </div>
                {% endif %}
                {% if gadgetDocx %}
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <h4 class="caption-subject font-blue-sharp bold uppercase">{{ 'Gadget'|trans }} {{ 'Document'|trans }} {{ 'List'|trans }} :</h4>
                            <div class="form-group">

                                {% for gadgetDoc in gadgetDocx %}

                                    <div class="col-md-9 col-md-offset-2">
                                        {{ loop.index|numberBanglaConvert }} <a
                                                href="{{ asset('uploads') }}/{{ gadgetDoc.path }}">{% if gadgetDoc.type is not null  %}{{ gadgetDoc.type }} {% else %} {{ gadgetDoc.path }}{% endif %}</a>
                                    </div>
                                {% endfor %}

                            </div>
                        </form>
                    </div>
                {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <form class="form-horizontal">
                            <h4 class="caption-subject font-purple-sharp bold uppercase">{{ 'Applicant View'|trans }}: </h4>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ 'Details'|trans }} :</label>
                                    <div class="col-md-9">
                                        <textarea class="margin-top-10 form-control" rows="10" readonly>{{ application.applicationDetails }}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ 'Created At'|trans }} :</label>
                                    <div class="col-md-9">
                                        <p class="margin-top-10">{{ application.createdDateTime|date("m/d/Y") }}</p>
                                    </div>
                                </div>
                                <a class="btn purple btn-sm col-md-offset-2" href="javascript: window.history.go(-1)">{{ 'Back'|trans }}</a>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- END PAGE CONTENT INNER -->
{% endblock %}



