{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal" name="change-password">
    {{ form_row(form.current_password) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn green" />
        </div>
    </div>
    {{ form_rest(form) }}
</form>