{% extends "RbsUserBundle::layout.html.twig" %}

{% block title %}{{ 'Password Change'|trans }} | {{ parent() }}{% endblock %}
{% block pageTitle %}<h1>{{ 'Password Change'|trans }}</h1>{% endblock %}

{% form_theme form '@RbsUser/_form_template/bootstrap_3_horizontal_layout_user.html.twig' %}

{% block body %}

    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">{{ 'Dashboard'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{{ path('users_home') }}">{{ 'Users'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li class="active"> {{ "Password Change"|trans }}</li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-sm-12">
            {% include 'flash.html.twig' %}
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase"> {{ "Password Change"|trans }} </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class='table-data'>
                        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block include_javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/rbsuser/js/user.js') }}"></script>

{% endblock include_javascripts %}