{% extends "RbsUserBundle::layout.html.twig" %}

{% block title %}{{ 'User Profile'|trans }} | {{ parent() }}{% endblock %}
{% block pageTitle %}<h1>{{ 'User Profile'|trans }}</h1>{% endblock %}

{% block body %}
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">{{ 'Dashboard'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{{ path('users_home') }}">{{ 'Users'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">{{ user.profile.fullNameBn }}'s {{ "Profile"|trans }}</li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row" id="volume-list-page">
        <div class="col-sm-10" style="margin: auto; float: none">
            {% include 'flash.html.twig' %}
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md title-text-center">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">{{ "User Profile Information"|trans }}</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="text-center">
                        <img src="{{ asset(user.profile.photo) }}" width="110" height="110" style="margin: auto">
                    </div>
                    <table class="table user-profile">
                        <tr>
                            <th width="20%">{{ 'Full name bn'|trans }} : </th>
                            <td width="30%">{{ user.profile.fullNameBn }}</td>
                            <th width="20%">{{ 'Full name en'|trans }} : </th>
                            <td width="30%">{{ user.profile.fullNameEn }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Fathers full name bn'|trans }} : </th>
                            <td>{{ user.profile.fathersFullNameBn }}</td>
                            <th>{{ 'Fathers full name en'|trans }} : </th>
                            <td>{{ user.profile.fathersFullNameEn }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Mothers full name bn'|trans }} : </th>
                            <td>{{ user.profile.mothersFullNameBn }}</td>
                            <th>{{ 'Mothers full name en'|trans }} : </th>
                            <td>{{ user.profile.mothersFullNameEn }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Nid'|trans }} : </th>
                            <td>{{ user.profile.nid }}</td>
                            <th>{{ 'Brn'|trans }} : </th>
                            <td>{{ user.profile.brn }}</td>

                        </tr>
                        <tr>
                            <th>{{ 'Cellphone'|trans }} : </th>
                            <td>{{ user.profile.cellphone }}</td>
                            <th>{{ 'Telephone'|trans }} : </th>
                            <td>{{ user.profile.telephone }}</td>
                        </tr>

                        <tr>
                            <th>{{ 'Religion'|trans }} : </th>
                            <td>{{ user.profile.religion }}</td>
                            <th>{{ 'Education level'|trans }} : </th>
                            <td>{{ user.profile.educationLevel }}</td>
                        </tr>

                        <tr>
                            <th>{{ 'Current address'|trans }} : </th>
                            <td>{{ user.profile.currentAddress }}</td>
                            <th>{{ 'Permanent address'|trans }} : </th>
                            <td>{{ user.profile.permanentAddress }}</td>
                        </tr>

                        <tr>
                            <th>{{ 'Designation'|trans }} : </th>
                            <td>{{ user.profile.designation }}</td>
                            <th>{{ 'Dob'|trans }} : </th>
                            <td>{{ user.profile.dob|date('d-m-Y') }}</td>
                        </tr>

                        <tr>
                            <th>{{ 'Joining date'|trans }} : </th>
                            <td>{{ user.profile.joiningDate|date("d-m-Y") }}</td>
                            <th>{{ 'Joining date of current office'|trans }} : </th>
                            <td>{{ user.profile.joiningDateOfCurrentOffice|date('d-m-Y') }}</td>
                        </tr>

                        <tr>
                            <th>{{ 'Gender'|trans }} : </th>
                            <td>{{ user.profile.gender|default('') }}</td>
                            <th>{{ 'Blood group'|trans }} : </th>
                            <td>{{ user.profile.bloodGroup }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Disability'|trans }} : </th>
                            <td>{{ user.profile.disability }}</td>
                            <th>{{ 'User Signature'|trans }} : </th>
                            <td><img src="{{ asset(user.profile.signature) }}" width="110" height="50"></td>
                        </tr>

                    </table>
                </div>


                <div class="portlet-title">
                    <div class="caption caption-md title-text-center">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase text-center">{{ "User Login Information"|trans }}</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table user-profile">
                        <tr>
                            <th width="20%">{{ 'Username'|trans }} : </th>
                            <td width="30%">{{ user.username }}</td>
                            <th width="20%">{{ 'Email'|trans }} : </th>
                            <td width="30%">{{ user.email }}</td>
                        </tr>

                        <tr>
                            <th>{{ 'Role'|trans }} : </th>
                            <td>{{ user.groups[0].name }}</td>
                            <th>{{ 'Status'|trans }} : </th>
                            <td>{{ user.enabled ? 'Enable'|trans : 'Disable'|trans }}</td>
                        </tr>
                        {% if user.isNessUser %}
                        <tr>
                            <th>{{ 'Ness User'|trans }} : </th>
                            <td>{{ 'Yes'|trans }}</td>
                            <th></th>
                            <td></td>
                        </tr>
                        {% endif %}

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT INNER -->
{% endblock %}