<td>{{ form_widget(form.saKhatianNo, {'attr': {'class': 'sa-khatian form-control input-small','empty_value':'খতিয়ান নির্বাচন করুন' }}) }}</td>
<td>{{ form_widget(form.saDagNo, {'attr': {'class': 'form-control input-small','placeholder':'SA Khatian Dag No'}}) }}</td>
<td>{{ form_widget(form.rsKhatianNo, {'attr': {'class': 'rs-khatian form-control input-small','empty_value':'খতিয়ান নির্বাচন করুন'}}) }}</td>
<td>{{ form_widget(form.rsDagNo, {'attr': {'class': 'form-control input-small','placeholder':'RS Khatian Dag No'}}) }}</td>
<td>{{ form_widget(form.totalAmount, {'attr': {'class': 'form-control totalAmount input-small','placeholder':'Total Amount'}}) }}</td>
<td>{{ form_widget(form.proposedAmount, {'attr': {'class': 'form-control proposedAmount input-small','placeholder':'Proposed Amount'}}) }}</td>
<td>{{ form_widget(form.propertyType, {'attr': {'class': 'form-control input-small','placeholder':'Property Type'}}) }}</td>
<td>
    <a class="btn red btn-sm remove-row" href="javascript:;">
        <i class="fa fa-times"></i>
    </a>
</td>

