{% extends "metronic.html.twig" %}

{% block title %}{{ mode == 'edit' ? 'Update'|trans : 'Add'|trans }} {{ 'Mouza'|trans }} | {{ parent() }}{% endblock %}
{% block pageTitle %}<h1>{{ 'Update'|trans }} {{ 'J. L. No'|trans }}</h1>{% endblock %}

{% block body %}
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">{{ 'Dashboard'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{{ path('jlnumber_list') }}">{{ 'J. L. No'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            {{ mode == 'edit' ? 'Update'|trans : 'New'|trans }}
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">

        <div class="col-md-8 col-sm-12">
            <div class="portlet light">

                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">{{ mode == 'edit' ? 'Update'|trans : 'New'|trans }} {{ 'J. L. No'|trans }}</span>
                    </div>
                </div>

                <div class="portlet-body">
                    {{ form_start(form, {attr:{id: 'porcha-create-form'}}) }}
                        <div class="form-body">
                            {{ form_row(form.name) }}
                            {{ form_row(form.mouza) }}
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">{{ 'Submit'|trans }}</button>
                                    <a class="btn default" href="{{ path('jlnumber_list') }}">{{ 'Cancel'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="portlet light">

                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">{{ 'Import'|trans }}</span>
                    </div>
                </div>

                <div class="portlet-body">
                    {% if form_errors(importForm.file) != '' %}
                        <div class="alert alert-danger">
                            {{ form_errors(importForm.file) }}
                        </div>
                    {% endif %}

                    <form action="{{ path('mouza_list') }}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleInputFile1">{{ 'Import CSV file'|trans }}</label>
                            {{ form_widget(importForm.file) }}
                        </div>
                        {{ form_row(importForm._token) }}
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-9">
                                    <button type="submit" class="btn green">{{ 'Submit'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
{% endblock %}

{% block include_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/porchaprocessing/js/porcha.js') }}" type="text/javascript"></script>
{% endblock %}

{% block document_ready %}
    {{ parent() }}
    Porcha.init();
{% endblock %}

