{% extends "metronic.html.twig" %}

{% block pageTitle %}<h1>{{ 'Dashboard'|trans }}</h1>{% endblock %}

{% block body %}

    {% include 'flash.html.twig' %}

    <div class="row"><div class="col-md-8">{% include 'flash.html.twig' %}</div></div>

    <div class="row">

        <div class="col-md-12 col-sm-12">
            <div class='table-data'>
                <br/>
                <table class="table table-bordered table-striped table-condensed flip-content table-list" border="1">
                    <thead>
                    <tr class="uppercase">
                        <th width="100">{{ 'Request ID'|trans }}</th>
                        <th width="200">{{ 'Applicant Name'|trans }}</th>
                        <th width="200">{{ 'Applicant Mobile'|trans }}</th>
                        <th width="200">{{ 'Application Type'|trans }}</th>
                        <th>{{ 'Status'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if serviceRequests is not empty %}
                            <tr>
                                <td><span{% if serviceRequests.urgency == 'URGENT' %} class="fa fa-star" title="{{ 'Urgent'|trans }}"{% endif %}>{{ serviceRequests.id }}</span></td>
                                {#<td>{% if serviceRequest.createdBy.profile is defined %}{{ serviceRequest.createdBy.profile.fullNameEn }}{% endif %}</td>#}
                                <td>{{ serviceRequests.name }}</td>
                                <td>{{ serviceRequests.contactNumber }}</td>
                                <td>{{ serviceRequests.type|trans }}</td>
                                <td>{{ serviceRequests.status|trans }}</td>
                            </tr>
                    {% else %}
                        <tr class="ta-center">
                            <td colspan="16">{{ 'No record found'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 col-sm-12">
            <div class="portlet blue-hoki box">
                <div class="portlet-title">
                    <div class="caption">
                        {{ 'আবেদনের অবস্থা যাচাই' }}
                    </div>
                </div>
                <div class="portlet-body">
                    <form action="{{ path('udc_service_filter_by_app_id') }}">
                        <div class="form-group">
                            <div class="radio-list">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="porcha_request" {% if(type == 'porcha_request') %} checked{% endif %}> {{ 'Porcha'|trans }}</label>
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="mouza_map" {% if(type == 'mouza_map') %} checked{% endif %}> {{ 'Mouza Map'|trans }} </label>
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="case_copy" {% if(type == 'case_copy') %} checked{% endif %}> {{ 'Case copy'|trans }}</label>
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="information_slip" {% if(type == 'information_slip') %} checked{% endif %}> {{ 'Information Slip'|trans }}</label>
                                <input type="text" class="bn2en" name="application_id" value="{{ applicationId }}" placeholder="আবেদন আইডি"><label></label>
                                <input type="submit" name="" value="{{ 'Check'|trans }}" class="btn btn-blue">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
{% endblock %}

