<td width="10%">{{ form_widget(form.name, { 'attr': {'class': ''} }) }}</td>
<td width="10%">{{ form_widget(form.fatherName, { 'attr': {'class': ''} }) }}</td>
<td width="10%">{{ form_widget(form.educationalQualification, { 'attr': {'class': ''} }) }}</td>
<td width="10%">{{ form_widget(form.mobileNo, { 'attr': {'class': ''} }) }}</td>
<td width="10%">{{ form_widget(form.email, { 'attr': {'class': ''} }) }}</td>
<td width="10%">{{ form_widget(form.gender, { 'attr': {'class': ''} }) }}</td>
<td width="10%">{{ form_widget(form.entrepreneurType, { 'attr': {'class': ''} }) }}</td>
<td width="10%">{{ form_widget(form.address, { 'attr': {'class': ''} }) }}</td>
<td width="10%">{{ form_widget(form.remove, { 'label': '×','attr': {'class': 'btn red btn-xs closeTd' } }) }}</td>

{#<div class="col-md-6">
    <div class="form-group">
        {{ form_widget(form.name, { 'attr': {'class': ''} }) }}
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        {{ form_widget(form.fatherName, { 'attr': {'class': ''} }) }}
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        {{ form_widget(form.educationalQualification, { 'attr': {'class': ''} }) }}
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        {{ form_widget(form.mobileNo, { 'attr': {'class': ''} }) }}
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        {{ form_widget(form.email, { 'attr': {'class': ''} }) }}
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        {{ form_widget(form.gender, { 'attr': {'class': ''} }) }}
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        {{ form_widget(form.entrepreneurType, { 'attr': {'class': ''} }) }}
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        {{ form_widget(form.address, { 'attr': {'class': ''} }) }}
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        {{ form_widget(form.remove, { 'label': '×','attr': {'class': 'btn red btn-xs closeTd' } }) }}
    </div>
</div>#}


