
<table class="table table-bordered table-striped table-condensed flip-content table-list">
    <thead>
    <tr class="uppercase">
        {#<th width="20">{{ "Sl No."|trans }}</th>#}
        <th width="100">{{ 'Request ID'|trans }}</th>
        <th width="100">{{ 'Applicatin Date'|trans }}</th>
        <th width="200">{{  'Recipient'|trans }}</th>
        <th width="200">{{ 'Applicant Name'|trans }}</th>
        <th width="200">{{ 'Applicant Mobile'|trans }}</th>
        <th width="100">{{ 'Copy Type'|trans }}</th>
        <th width="100">{{  'Delivery method'|trans }}</th>
        <th width="100">{{ 'Delivery Date'|trans }}</th>
        <th width="100">{{ "Court Fee"|trans }}</th>
        <th width="100">{{ 'District'|trans }}</th>
        <th width="100">{{ 'Upozila'|trans }}</th>
        <th width="100">{{ 'Mouza'|trans }}</th>
        <th width="100">{{ 'Jlno'|trans }}</th>
        <th width="100">{{ 'Khatian No'|trans }}</th>
        <th width="100">{{ "Status"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if serviceRequest is not empty %}
        {% for sr in serviceRequest %}
            <tr>
                <td><span{% if sr.serviceRequest.urgency == 'URGENT' %} class="fa fa-star" title="{{ 'Urgent'|trans }}"{% endif %}>{{ sr.serviceRequest.id }}</span></td>
                <td>{{ sr.serviceRequest.createdAt|date('Y-m-d') }}</td>
                <td>{{ sr.serviceRequest.createdBy|default('N/A') }}</td>
                <td>{{ sr.serviceRequest.name }}</td>
                <td>{{ sr.serviceRequest.contactNumber }}</td>
                <td>{{ sr.survey.name|default('') }}</td>
                <td>{{ sr.serviceRequest.deliveryMethod|trans }}</td>
                <td>{{ sr.serviceRequest.deliveredAt|date('Y-m-d') }}</td>
                <td>{{ sr.serviceRequest.courtFee|default('') }}</td>
                <td>{{ sr.district.name|default }}</td>
                <td>{{ sr.upozila.name|default }}</td>
                <td>{{ sr.mouza.name|default }}</td>
                <td>{{ sr.jlNo }}</td>
                <td>{{ sr.khatianNo }}</td>
                <td>{{ sr.serviceRequest.status|default()|trans }}</td>

            </tr>
        {% endfor %}
    {% else %}
        <tr class="ta-center">
            <td colspan="16">{{ 'No record found'|trans }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class='dataTables_paginate paging_bootstrap pagination'>
    {{ knp_pagination_render(serviceRequest) }}
</div>