{% extends "@PorchaProcessing/layout.html.twig" %}

{% block title %}{{ 'Lease'|trans }} {{ 'Create'|trans }} | {{ parent() }}{% endblock %}
{% block pageTitle %}<h1>{{ 'Lease'|trans }}</h1>{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@LeaseBundle/Resources/public/css/fileview.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">{{ 'Dashboard'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            {{ 'Previous'|trans }} {{ 'Market Body'|trans }} {{ 'Lease'|trans }} {{ 'Create'|trans }}
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row" id="volume-add-page">

        <div class="col-md-12">
            <div class="portlet light">

                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase"> {{ 'Previous'|trans }} {{ 'Market Body'|trans }} {{ 'Lease'|trans }} {{ 'Create'|trans }}</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <form class="form-horizontal" id="fileupload" role="form" method="post" novalidate="novalidate" enctype="multipart/form-data">
                        <div class="form-body">
                            <h4 class="caption-subject font-blue-sharp bold uppercase">{{ 'Market'|trans }} {{ 'Details'|trans }}</h4>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ 'Survey'|trans }}</label>
                                <div class="col-md-3">
                                    <select name="survey" class="form-control select2 input-large survey" id="survey"  data-placeholder="সার্ভে নির্বাচন করুন">
                                        <option></option>
                                        {% for  survey in surveys %}
                                            <option value="{{ survey.type }}">{{ survey.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ 'Mouza'|trans }}</label>
                                <div class="col-md-3">
                                    <select name="mouza" class="form-control select2 input-large mouza" id="mouza"   data-placeholder="মৌজা নির্বাচন করুন">
                                        <option></option>
                                        {% for  mouza in mouzas %}
                                            <option value="{{ mouza.id }}">{{ mouza.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group {{ form_errors(form.khatian) != '' ? 'has-error' : '' }}">
                                <label class="col-md-2 control-label required">{{ 'Khatian'|trans }}</label>
                                <div class="col-md-3">
                                    {{ form_widget(form.khatian) }}
                                    <span class="help-block">{{ form_errors(form.khatian) }}</span>
                                </div>
                                {#<div class="col-md-3">#}
                                    {#<input type="button" id="add-dag-no" class="btn green"  value="{{ 'attach dagNo'|trans }}" />#}
                                {#</div>#}
                            </div>

                            <div class="form-group {{ form_errors(form.marketDetail.khatianDagNo) != '' ? 'has-error' : '' }}">
                                <label class="col-md-2 control-label required">{{ 'Khatian dag No'|trans }}</label>
                                <div class="col-md-9">
                                    {{ form_widget(form.marketDetail.khatianDagNo) }}
                                    <span class="help-block">{{ form_errors(form.marketDetail.khatianDagNo) }}</span>
                                </div>
                            </div>
                            <div class="form-group {{ form_errors(form.marketDetail.market) != '' ? 'has-error' : '' }}">
                                <label class="col-md-2 control-label required">{{ 'Market Body'|trans }}</label>
                                <div class="col-md-3">
                                    {{ form_widget(form.marketDetail.market) }}
                                    <span class="help-block">{{ form_errors(form.marketDetail.market) }}</span>
                                </div>
                            </div>
                            <div class="form-group {{ form_errors(form.marketDetail.shopNo) != '' ? 'has-error' : '' }}">
                                <label class="col-md-2 control-label required">{{ 'Shop No'|trans }}</label>
                                <div class="col-md-9">
                                    {{ form_widget(form.marketDetail.shopNo) }}
                                    <span class="help-block">{{ form_errors(form.marketDetail.shopNo) }}</span>
                                </div>
                            </div>


                            <div class="form-group {{ form_errors(form.shotangso) != '' ? 'has-error' : '' }}">
                                <label class="col-md-2 control-label required">{{ 'Amount'|trans }}</label>
                                <div class="col-md-2">
                                    {{ form_widget(form.shotangso,{'attr':{'class':''}}) }}
                                    <span class="help-block">{{ form_errors(form.shotangso) }}</span>
                                </div>
                                <span>বর্গ ফুট</span>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label required col-md-5">{{ 'Fiscal Year'|trans }}</label>

                                <div class="col-md-5">
                                    <div class="input-group input-medium"
                                         data-date-viewmode="years">
                                        {{ form_widget(form.fiscalyear) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group {{ form_errors(form.remarks) != '' ? 'has-error' : '' }}">
                                <label class="col-md-2 control-label ">{{ 'Remarks'|trans }}</label>
                                <div class="col-md-9">
                                    {{ form_widget(form.remarks) }}
                                    <span class="help-block">{{ form_errors(form.remarks) }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ 'Private Document'|trans }}</label>
                                <div class="col-md-9">
                                    <div class="wrapper">
                                        <div id="doc_upload1" class="button fl">ডকুমেন্ট ফাইল নির্বাচন করুন </div>
                                    </div>
                                    <div class="wrapper"><br>
                                        <div id="selected_doc_file1"></div>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-offset-2">
                                    <input name="private_caption" class="form-control input-small" placeholder="ক্যাপশন" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ 'Public Document'|trans }}</label>
                                <div class="col-md-9">
                                    <div class="wrapper">
                                        <div id="doc_upload2" class="button fl">ডকুমেন্ট ফাইল নির্বাচন করুন </div>
                                    </div>
                                    <div class="wrapper"><br>
                                        <div id="selected_doc_file2"></div>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-offset-2">
                                    <input name="public_caption" class="form-control input-small" placeholder="ক্যাপশন" >
                                </div>
                            </div>
                            <h4 class="caption-subject font-blue-sharp bold uppercase">{{ 'Applicant Info'|trans }}</h4>
                            <div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <table class="table table-bordered table-striped table-condensed flip-content" style="margin-bottom: 0;margin-left: 141px"  width="100%" id="row-clone2" >
                                            {{ include('LeaseBundle:Gadget:applicantInfo.html.twig', { 'form': form.applications.vars.prototype.applicant }) }}
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-lg-2 control-label">মোবাইল নম্বর</label>
                                <div class="col-lg-10">
                                    {#<input type="text" class="form-control" >#}
                                    {{ form_widget(form.applications.vars.prototype.phoneNo,{'attr':{'class':'form-control phoneNo',}}) }}
                                    <span class="hide error valid-msg">✓ </span>
                                    <span class="hide error error-msg">নম্বর টি সঠিক নয় </span>
                                    <span class="validation-style">{{ form_errors(form.applications.vars.prototype.phoneNo)}}</span>
                                </div>
                            </div>

                            <h4 class="caption-subject font-blue-sharp bold uppercase">{{ 'Application'|trans }} {{ 'Document'|trans }}</h4>
                            <div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">{{ 'National Id'|trans }}</label>
                                    <div class="col-md-9">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="input-group input-large">
                                                <div class="form-control uneditable-input span3" data-trigger="fileinput">
                                                    <i class="fa fa-file fileinput-exists"></i>&nbsp; <span class="fileinput-filename">
														</span>
                                                </div>
													<span class="input-group-addon btn default btn-file">
													<span class="fileinput-new">
													নির্বাচন করুন </span>
													<span class="fileinput-exists">
													পরিবর্তন করুন  </span>
													<input type="file" name="nid" id="nid">
													</span>
                                                <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">
                                                    মুছুন </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#<div class="form-group">
                                    <label class="col-md-2 control-label">{{ 'Photo'|trans }}</label>
                                    <div class="col-md-9">
                                        <div class="wrapper">
                                            <div id="photo" class="btn default">নির্বাচন করুন </div>
                                        </div>
                                        <div id="selected_photo_file"></div>
                                    </div>
                                </div>#}
                                <div class="form-group">
                                    <label class="control-label col-md-2">{{ 'Photo'|trans }}</label>
                                    <div class="col-md-9">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="input-group input-large">
                                                <div class="form-control uneditable-input span3" data-trigger="fileinput">
                                                    <i class="fa fa-file fileinput-exists"></i>&nbsp; <span class="fileinput-filename">
														</span>
                                                </div>
													<span class="input-group-addon btn default btn-file">
													<span class="fileinput-new">
													নির্বাচন করুন </span>
													<span class="fileinput-exists">
													পরিবর্তন করুন  </span>
													<input type="file" name="photo" id="photo">
													</span>
                                                <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">
                                                    মুছুন </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">{{ 'Trade License'|trans }}</label>
                                    <div class="col-md-9">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="input-group input-large">
                                                <div class="form-control uneditable-input span3" data-trigger="fileinput">
                                                    <i class="fa fa-file fileinput-exists"></i>&nbsp; <span class="fileinput-filename">
														</span>
                                                </div>
													<span class="input-group-addon btn default btn-file">
													<span class="fileinput-new">
													নির্বাচন করুন </span>
													<span class="fileinput-exists">
													পরিবর্তন করুন  </span>
													<input type="file" name="trade" id="trade">
													</span>
                                                <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">
                                                    মুছুন </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <h4 class="caption-subject font-blue-sharp bold uppercase">{{ 'Register'|trans }} {{ 'Details'|trans }}</h4>
                            <div class="form-group">
                                <label class="col-md-2 control-label required">{{ 'Demand Fee'|trans }}</label>
                                <div class="col-md-9">
                                    <input type="text" name="demandFee" id="demandFee" rel="Market" class="form-control input-large"/>
                                </div>
                            </div>

                            <div class="form-group {{ form_errors(form.applications.vars.prototype.registerSix.vars.prototype.chalanNo) != '' ? 'has-error' : '' }}">
                                <label class="col-md-2 control-label required">{{ 'chalanNo'|trans }}</label>
                                <div class="col-md-3">
                                    {{ form_widget(form.applications.vars.prototype.registerSix.vars.prototype.chalanNo) }}
                                    <span class="help-block">{{ form_errors(form.applications.vars.prototype.registerSix.vars.prototype.chalanNo) }}</span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label required col-md-5">{{ 'chalanDate'|trans }}</label>

                                <div class="col-md-5">
                                    <div class="input-group input-medium"
                                         data-date-viewmode="years">
                                        {{ form_widget(form.applications.vars.prototype.registerSix.vars.prototype.chalanDate,{'attr':{'class':'date2','readonly':'readonly'}} ) }}

                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group {{ form_errors(form.applications.vars.prototype.registerSix.vars.prototype.chalanAmount) != '' ? 'has-error' : '' }}">
                                <label class="col-md-2 control-label required">{{ 'chalanAmount'|trans }}</label>
                                <div class="col-md-9">
                                    {{ form_widget(form.applications.vars.prototype.registerSix.vars.prototype.chalanAmount) }}
                                    <span class="help-block">{{ form_errors(form.applications.vars.prototype.registerSix.vars.prototype.chalanAmount) }}</span>
                                </div>
                            </div>

                            <div class="form-group {{ form_errors(form.applications.vars.prototype.registerSix.vars.prototype.nothiNo) != '' ? 'has-error' : '' }}">
                                <label class="col-md-2 control-label required">{{ 'nothiNo'|trans }}</label>
                                <div class="col-md-9">
                                    {{ form_widget(form.applications.vars.prototype.registerSix.vars.prototype.nothiNo) }}
                                    <span class="help-block">{{ form_errors(form.applications.vars.prototype.registerSix.vars.prototype.nothiNo) }}</span>
                                </div>
                            </div>
                            <div class="form-group {{ form_errors(form.applications.vars.prototype.registerSix.vars.prototype.bank) != '' ? 'has-error' : '' }}">
                                <label class="col-md-2 control-label required">{{ 'bank'|trans }}</label>
                                <div class="col-md-9">
                                    {{ form_widget(form.applications.vars.prototype.registerSix.vars.prototype.bank) }}
                                    <span class="help-block">{{ form_errors(form.applications.vars.prototype.registerSix.vars.prototype.bank) }}</span>
                                </div>
                            </div>
                            <div class="form-group {{ form_errors(form.applications.vars.prototype.registerSix.vars.prototype.branch) != '' ? 'has-error' : '' }}">
                                <label class="col-md-2 control-label required">{{ 'branch'|trans }}</label>
                                <div class="col-md-9">
                                    {{ form_widget(form.applications.vars.prototype.registerSix.vars.prototype.branch) }}
                                    <span class="help-block">{{ form_errors(form.applications.vars.prototype.registerSix.vars.prototype.branch) }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{ 'Register'|trans }} {{ 'Document'|trans }}</label>
                                <div class="col-md-9">
                                    <div class="wrapper">
                                        <div id="register" class="button fl">ডকুমেন্ট ফাইল নির্বাচন করুন </div>
                                    </div>
                                    <div class="wrapper"><br>
                                        <div id="selected_doc_file3"></div>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-offset-2">
                                    <input name="register_caption" class="form-control input-small" placeholder="ক্যাপশন" >
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-9">
                                        <a class="btn purple" href="javascript: window.history.go(-1)">{{ 'Cancel'|trans }}</a>
                                        <button type="submit" class="btn green">{{ 'Save'|trans }}</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_row(form._token) }}
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- END PAGE CONTENT INNER -->
{% endblock %}

{% block include_javascripts %}
    {{ parent() }}
    {% javascripts
        "@LeaseBundle/Resources/public/js/rajax.js"
        "@LeaseBundle/Resources/public/js/lease.js"

    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        var rowCount = '{{ (form.leaseDetail is defined) ? form.leaseDetail|length : 0 }}';

    </script>

{% endblock %}

{% block document_ready %}
    {{ parent() }}
    $('.date2').datepicker({ format: 'yyyy/mm/dd' });
    telInput.intlTelInput({
    utilsScript: "{{ asset('assets/plugins/intl-tel-input-master/build/js/utils.js') }}",
    nationalMode: true,
    preferredCountries: ['bd', 'in']
    });
{% endblock %}


