<div class="col-md-12">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                {{ 'My Profile'|trans }}
            </div>
        </div>

        <div class="portlet-body">
            {{ include('_elements/_back_to_list_button.html.twig', {url: path('users_home'), label: 'Back to List'|trans, 'icon': 'chevron-left'}) }}
            <div class="dataTables_wrapper no-footer">

                <div class="row">
                    <div class="col-md-12">

                        <div class="portlet">
                            <div class="portlet-body">
                                <table class="table">
                                    <tr>
                                        <th colspan="4"><h4>{{ 'User Profile Information'|trans }}</h4></th>
                                    </tr>
                                    <tr>
                                        <th>{{ 'Name'|trans }}</th>
                                        <td>{{ user.profile.fullname }}</td>
                                        <th>{{ 'Cellphone'|trans }}</th>
                                        <td>{{ user.profile.cellphone }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'Designation'|trans }}</th>
                                        <td>{{ user.profile.designation }}</td>
                                        <th>{{ 'User Type'|trans }}</th>
                                        <td>{{ user.userType }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'Address'|trans }}</th>
                                        <td>{{ user.profile.address }}</td>
                                        <th></th>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="portlet">
                            <div class="portlet-body">
                                <table class="table">
                                    <tr>
                                        <th colspan="2">
                                            <h4>{{ 'User Login Information'|trans }}</h4>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>{{ 'Username'|trans }}</th>
                                        <td>{{ user.username }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'Email'|trans }}</th>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th><a href="{{ path('user_update_password', {'id': user.id} ) }}" class="btn blue">{{ 'Password Change'|trans }}</a></th>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="footer">

        </div>

    </div>
</div>