<td>{{ form_widget(form.halDagNo) }}</td>
<td>{{ form_widget(form.khatianNo) }}</td>
<td>{{ form_widget(form.landQuantityAcre) }}</td>
<td>{{ form_widget(form.landQuantityDecimal) }}</td>
<td>{{ form_widget(form.sabekDagNo) }}</td>
<td>{{ form_widget(form.comment) }}</td>
<td>
    <a class="btn red btn-sm remove" href="javascript:;">
        <i class="fa fa-times"></i>
    </a>
</td>

