{% extends "@PorchaProcessing/layout.html.twig" %}

{% block title %}{{ 'Khatian Entry'|trans }} | {{ parent() }}{% endblock %}
{% block pageTitle %}<h1>{{ 'Khatian Entry'|trans }}</h1>{% endblock %}

{% block body %}
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">{{ 'Dashboard'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">{{ 'Khatian Entry'|trans }}</li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row" id="volume-list-page">
        <div class="col-sm-12">
            {% include 'flash.html.twig' %}
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase"></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <ul>
                    {% for page in khatian_pages %}
                        <li><a href="{{ path('khatian_page', {id: page.id}) }}">{{ page.type }}</a></li>
                    {% endfor %}
                    </ul>
                </div>

            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT INNER -->
{% endblock %}

