<table class="table table-bordered table-striped table-condensed flip-content table-list">
    <thead>
    <tr class="uppercase">
        <th>
            {{ knp_pagination_sortable(khatianLogs, 'Thana'|trans, 'v.thana') }}/
            {{ knp_pagination_sortable(khatianLogs, 'Upozila'|trans, 'v.upozila') }}
        </th>
        <th>{{ knp_pagination_sortable(khatianLogs, 'Mouza'|trans, 'k.mouza') }}</th>
        <th>{{ knp_pagination_sortable(khatianLogs, 'J. L. No'|trans, 'k.jlnumber') }}</th>
        <th>{{ knp_pagination_sortable(khatianLogs, 'Khatian No'|trans, 'k.khatianNo') }}</th>
        <th>{{ knp_pagination_sortable(khatianLogs, 'Volume No'|trans, 'v.name') }}</th>
        <th>{{ 'Entry Operator'|trans }}</th>
        <th>{{ 'Verifier'|trans }}</th>
        <th>{{ 'Comparer'|trans }}</th>
        <th>{{ 'Approver'|trans }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if khatianLogs is not empty %}
        {% for log in khatianLogs %}
        <tr>
            <td>{{ log.khatianVersion.khatian.volume.upozila.name }}</td>
            <td>{{ log.khatianVersion.khatian.mouza }}</td>
            <td>{{ log.khatianVersion.khatian.jlnumber.name }}</td>
            <td>{{ log.khatianVersion.khatian.khatianNo }}</td>
            <td>{{ log.khatianVersion.khatian.volume.volumeNo }}</td>
            <td>
                {{ log.entryOperator ? log.entryOperator.profile.fullNameBn : '-' }}
            </td>
            <td>
                {{ log.verifier ? log.verifier.profile.fullNameBn : '-' }}
            </td>
            <td>
                {{ log.comparer ? log.comparer.profile.fullNameBn : '-' }}
            </td>
            <td>
                {{ log.approver ? log.approver.profile.fullNameBn : '-' }}
            </td>
            <td>
                <a href="{{ path('khatian_pages', {id: log.id}) }}" class="btn blue btn-sm" title="{{ 'View'|trans }}" ><i class="fa fa-file-o"></i></a>
            </td>

        </tr>
        {% endfor %}
    {% else %}
        <tr class="ta-center">
            <td colspan="15">{{ 'No record found'|trans }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>

<div class='dataTables_paginate paging_bootstrap pagination'>
    {{ knp_pagination_render(khatianLogs) }}
</div>