
<h3>নাম: {{ fullName }}</h3>
<p>ফোন নম্বর: {{ phoneNumber }}</p>
<p>ই-মেইল ঠিকানা: {{ email }}</p>

<p>বিস্তারিত: {{ details }}</p>
{# example, assuming you have a route named "login" #}
{#To login, go to: <a href="{{ url('login') }}">...</a>.#}

ধন্যবাদ!

{# Makes an absolute URL to the /images/logo.png file #}
{#<img src="{{ absolute_url(asset('images/logo.png')) }}">#}