{% extends "PorchaProcessingBundle::layout.html.twig" %}

{% block title %}{{ 'Case copy Request Form'|trans }} | {{ parent() }}{% endblock %}
{% block pageTitle %}<h1>{{ 'Case copy Request Form'|trans }}</h1>{% endblock %}

{% block body %}
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">{{ 'Dashboard'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li class="active"> {{ 'Case copy Request Form'|trans }}</li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->

    {{ form_start(form) }}
    <div class="col-sm-12" id="porcha-request-form" style="margin: auto; float: none">
            {% include 'flash.html.twig' %}
        <div class="portlet light">

            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject theme-font bold uppercase">{{ "Case copy Request Form"|trans }}</span>
                </div>
            </div>

            <div class="portlet-title">
                <div class="caption caption-md title-text-center">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject theme-font bold uppercase">{{ "Case copy Detail Information"|trans }}</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="row">

                            {{ form_label(form.plaintiffDefendant, null, {'label_attr': {'class' : 'col-md-4 control-label'}}) }}
                            <div class="col-sm-8">{{ form_widget(form.plaintiffDefendant) }}</div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            {{ form_label(form.lawyerName, null, {'label_attr': {'class' : 'col-md-4 control-label'}}) }}
                            <div class="col-sm-8">{{ form_widget(form.lawyerName) }}</div>
                        </div>
                        <div class="row">
                            {{ form_label(form.caseNo, null, {'label_attr': {'class' : 'col-md-4 control-label'}}) }}
                            <div class="col-sm-8">{{ form_widget(form.caseNo) }}</div>
                        </div>
                        <div class="row">
                            {{ form_label(form.courtName, null, {'label_attr': {'class' : 'col-md-4 control-label'}}) }}
                            <div class="col-sm-8">{{ form_widget(form.courtName) }}</div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="portlet-title">
                <div class="caption caption-md title-text-center">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject theme-font bold uppercase">{{ "Applicant Info"|trans }}</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="row">
                            {{ form_label(form.serviceRequest.name) }}
                            <div class="col-sm-4 applicant-address">{{ form_widget(form.serviceRequest.name) }}</div>
                            {{ form_label(form.serviceRequest.contactNumber) }}
                            <div class="col-sm-4">{{ form_widget(form.serviceRequest.contactNumber) }}</div>
                        </div>

                        <div class="row">
                            {{ form_label(form.serviceRequest.nid) }}
                            <div class="col-sm-4">{{ form_widget(form.serviceRequest.nid) }}</div>
                            {{ form_label(form.serviceRequest.email) }}
                            <div class="col-sm-4">{{ form_widget(form.serviceRequest.email) }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet-title">
                <div class="caption caption-md title-text-center">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject theme-font bold uppercase">{{ "Applicant Address"|trans }}</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row applicant-address">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-2">{{ form_label(form.serviceRequest.district) }}</div>
                            <div class="col-sm-4">{{ form_widget(form.serviceRequest.district) }}</div>
                            <div class="col-sm-2">{{ form_label(form.serviceRequest.upozila) }}</div>
                            <div class="col-sm-4">{{ form_widget(form.serviceRequest.upozila) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">{{ form_label(form.serviceRequest.postalCode) }}</div>
                            <div class="col-sm-4">{{ form_widget(form.serviceRequest.postalCode) }}</div>
                            <div class="col-sm-2">{{ form_label(form.serviceRequest.area) }}</div>
                            <div class="col-sm-4">{{ form_widget(form.serviceRequest.area) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">{{ form_label(form.serviceRequest.roadNo) }}</div>
                            <div class="col-sm-4">{{ form_widget(form.serviceRequest.roadNo) }}</div>
                            <div class="col-sm-2">{{ form_label(form.serviceRequest.houseNo) }}</div>
                            <div class="col-sm-4">{{ form_widget(form.serviceRequest.houseNo) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">{{ form_label(form.serviceRequest.ongoingCare) }}</div>
                            <div class="col-sm-4">{{ form_widget(form.serviceRequest.ongoingCare) }}</div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="row">

                        </div>

                    </div>
                    <div class="col-sm-4">
                        {{ form_label(form.serviceRequest.address) }}
                        {{ form_widget(form.serviceRequest.address) }}
                    </div>

                </div>

            </div>

            <div class="portlet-title">
                <div class="caption caption-md title-text-center">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject theme-font bold uppercase">{{ "Payment and delivery Detail"|trans }}</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-sm-6">

                        <div class="row">
                            <label class="col-sm-6 control-label required" aria-required="true">ডেলিভারি প্রয়োজন</label>
                            <div class="col-sm-6 radio-btn-container">
                                {{ form_widget(form.serviceRequest.urgency) }}
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-6 control-label required" aria-required="true">ডেলিভারি মাধ্যম</label>
                            <div class="col-sm-6 radio-btn-container">
                                {{ form_widget(form.serviceRequest.deliveryMethod) }}
                            </div>
                        </div>
                        {% if form.estimateDeliveryAt is defined %}
                        <div class="row">
                            <label class="col-sm-6 control-label required" aria-required="true">{{ 'Delivery Date'|trans }}</label>
                            <div class="col-sm-6 radio-btn-container">
                                {{ form_widget(form.serviceRequest.estimateDeliveryAt) }}
                            </div>
                        </div>
                        {% endif %}

                    </div>
                    <div class="col-sm-6">

                        <table class="table table-bordered price-table" style="margin: auto; width: 50%; display: none">
                            <tr class="FEE">
                                <td class="text-right">{{ 'Court Fee'|trans }}</td>
                                <td class="price">0/=</td>
                            </tr>
                            <tr class="DELIVERY">
                                <td class="text-right">{{ 'Delivery Fee'|trans }} <span class="other-dictrict hide">({{ 'Other District'|trans }})</span></td>
                                <td class="price">0/=</td>
                            </tr>
                            {{ include('PorchaProcessingBundle:Service/CaseCopy:_additional_fee_block.html.twig') }}
                            <tr>
                                <td class="text-right bold">{{ "Total"|trans }}</td>
                                <td class="total">19/=</td>
                            </tr>
                        </table>

                    </div>

                </div>

                <div class="row">

                </div>
            </div>

            <input type="submit" value="{{ "Save"|trans }}" class="btn green" name="save">
            {% if mode == 'new' %}<input type="submit" value="{{ "Save and Create New"|trans }}" class="btn green" name="save-and-new">{% endif %}
        </div>
    </div>
    <div class="display-none">{{ form_rest(form) }}</div>
    {{ form_end(form) }}
    <!-- END PAGE CONTENT INNER -->
{% endblock %}

{% block include_javascripts %}
    <script type="text/javascript">
        var mode = '{{ mode }}';
        var officeDistrict = '{{ app.user.office.district.id|default() }}';
        var officeSetting = {{ officeSetting|json_encode|raw }}

    </script>
    {{ parent() }}
    <script src="{{ asset('bundles/porchaprocessing/js/case-copy-application.js') }}"></script>
{% endblock include_javascripts %}