{% extends "PorchaProcessingBundle::layout.html.twig" %}

{% block title %}{{ 'Master Fields'|trans }} | {{ parent() }}{% endblock %}
{% block pageTitle %}<h1>{{ 'Master Field List'|trans }}</h1>{% endblock %}

{% block body %}
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">{{ 'Dashboard'|trans }}</a><i class="fa fa-circle"></i>
        </li>
        <li class="active"> {{ 'Master Fields'|trans }}</li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" role="form" method="post" action="{{ form_action }}">
            {{ replacePlaceholders(template.body, form) }}
            {{ form_row(form._token) }}
            <input type="submit" value="{{ 'Submit'|trans }}" />
            </form>
        </div>
    </div>

    <!-- END PAGE CONTENT INNER -->
{% endblock %}


